* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    /* border: 1px solid; */
}

body {
    background-color: #f2f2f2;
}

.slide {
    height: 48.4rem;
    width: 14%;
    position: absolute;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide img {
    width: 80%;
    margin-left: 25px;
    border-radius: 100%;
}

.slide p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

ul li {
    list-style: none;
    border-radius: 100px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20%;
}

ul li :hover {
    background-color: #E3651D;
}

ul li a {
    color: #fff;
    font-weight: bold;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    border-radius: 20px;
}

ul li a i {
    width: 30%;
    text-align: center;
}

.slide h6 {
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.container {
    min-width: 1440px;
    margin-left: 14%;
}

.container .header {
    padding: 8px;
    border-bottom: 1px solid #e0e4e8;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .header h2 {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-left: 10px;
}

.container .header .user {
    text-align: right;
    display: flex;
}

.container .header .akun {
    margin-right: 20px;
    margin-top: 7px;
}

.container .header .akun p {
    font-weight: 800;
}

.container .header img {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.container .info img {
    width: 100%;
    z-index: -1;
}

.data {
    z-index: 1;
    font-weight: bold;
}

.data .date {
    margin-top: -44.1%;
    margin-left: 71.5%;
    font-size: 20px;
}

.data p {
    color: yellow;
    text-shadow: 0 0 12px #e6e4db;
    font-size: 15px;
}

.data p.heating {
    margin-top: -1.5%;
    margin-left: 37.5%;
}

.data p.preheating {
    margin-top: 6.3%;
    margin-left: 13.5%;
}

.data p.holding {
    margin-top: -0.5%;
    margin-left: 48.7%;
}

.data p.precooling {
    margin-top: -1.8%;
    margin-left: 70%;
}

.data p.cooling {
    margin-top: -1.7%;
    margin-left: 91.5%;
}

.data p.flowrate {
    margin-top: 11.9%;
    margin-left: 41%;
}

.data p.BT1 {
    margin-top: 2.7%;
    margin-left: 26%;
}

.data p.VD {
    margin-top: 1.3%;
    margin-left: 55.5%;
}

.data p.BT2 {
    margin-top: -3.4%;
    margin-left: 69.5%;
}

.data p.pumpBT1{
    margin-top: 1%;
    margin-left: 33.5%;
}

.data p.pumpVD{
    margin-top: -1%;
    margin-left: 48%;
}

.data p.pressureBT2{
    margin-top: -8.1%;
    margin-left: 76.3%;
}

.data p.pumpBT2{
    margin-top: -0.6%;
    margin-left: 78.5%;
}

.data p.pumpmixing{
    margin-top: 4.6%;
    margin-left: 9.5%;
}

.data p.MV1{
    margin-top: -23%;
    margin-left: 24.5%;
}

.data p.MV2{
    margin-top: -2.8%;
    margin-left: 39%;
}


@media screen and (min-width: 1200px) and (max-width: 1460px) {
    .data p {
        margin-top: -2.6%;
    }
}

@media (max-width: 750px) {
    ul li {
        list-style: none;
        border-radius: 100px;
        padding: 10px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 20%;
    }

    ul li a {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    ul li a i {
        font-size: 20px;
    }

}