
.container {
    min-width: 1200px;
    min-width: 120vh;
    margin-left: 14%;
}

.container .header {
    padding: 8px;
    border-bottom: 1px solid #e0e4e8;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .header h2 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 40px;
}

.container .header .user {
    text-align: right;
    display: flex;
}

.container .header .akun {
    margin-right: 20px;
    margin-top: 7px;
}

.container .header .akun p {
    font-weight: 800;
}

.container .header img {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.container .info img {
    width: 90%;
    margin-top: 75px;
    margin-left: -140px;
    z-index: -1;
}

.data {
    z-index: 1;
    font-weight: bold;
}

.data .date {
    margin-top: -53.4%;
    margin-left: 82%;
    font-size: 18px;
}

.data p.pvs {
    margin-top: -4.5%;
    margin-left: 90%;
    font-size: 35px;
}

.data p.pvs1 {
    margin-top: 8.8%;
    margin-left: 24.8%;
    font-size: 15px;
}

.data p.lhg {
    margin-top: 4.4%;
    margin-left: 4.7%;
    font-size: 15px;
}

.data p.lhs {
    margin-top: 2%;
    margin-left: 6.7%;
    font-size: 15px;
}

.data p.lh {
    margin-top: 0.9%;
    margin-left: 23.5%;
    font-size: 15px;
}

.data p.lhf {
    margin-top: 0.25%;
    margin-left: 13.7%;
    font-size: 15px;
}

.data p.water {
    margin-top: 1.8%;
    margin-left: 39.3%;
    font-size: 35px;
}

.data p.rhg {
    margin-top: 2.6%;
    margin-left: 7.5%;
    font-size: 15px;
}

.data p.rh {
    margin-left: 23.5%;
    font-size: 15px;
}

.data p.rhs {
    margin-top: 0.75%;
    margin-left: 9%;
    font-size: 18px;
}

.data p.rhf {
    margin-top: 2.6%;
    margin-left: 15%;
    font-size: 18px;
}

.data p.idf {
    margin-top: 5.1%;
    margin-left: 71.5%;
    font-size: 25px;
}

.data p.pump1 {
    margin-top: -1.2%;
    margin-left: 45.9%;
    font-size: 10px;
}

.data p.pump2 {
    margin-top: -1.1%;
    margin-left: 54.2%;
    font-size: 10px;
}

.data p.batubara_fk {
    margin-top: 41.6%;
    margin-left: -2.5%;
    font-size: 10px;
}

.data p.steam_fk {
    margin-top: 1.1%;
    margin-left: 8.5%;
    font-size: 10px;
}

.data p.batubara {
    margin-top: 4.5%;
    margin-left: 3%;
    font-size: 18px;
}
.data p.steam {
    margin-top: -0.5%;
    margin-left: 3%;
    font-size: 18px;
}
.data p.bbsteam {
    margin-top: -46.8%;
    margin-left: -7.5%;
    font-size: 18px;
}
.data p.o2 {
    margin-top: 16.2%;
    margin-left: 83%;
    font-size: 15px;
}
.data p.co2 {
    margin-top: 3.7%;
    margin-left: 83%;
    font-size: 15px;
}

button.input {
    position: relative;
    top: 7rem;
    margin-left: 2.2%;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.input:hover {
    background-color: #0e9e3f;
    /* Warna saat hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Bayangan saat hover */
}

/* Style untuk modal */
.modal {
    display: none;
    /* Sembunyikan modal secara default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="number"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.submit {
    background-color: #28a745;
    /* Hijau untuk Insert */
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.submit:hover {
    background-color: #218838;
    /* Warna hijau lebih gelap saat hover */
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 5px;
}


@media screen and (min-width: 1460px) and (max-width: 1600px) {}

@media screen and (min-width: 1200px) and (max-width: 1460px) {
    .data p.lhs {
        margin-top: 1.9%;
    }

    .data p.lh {
        margin-top: 0.9%;
    }

    .data p.lhf {
        margin-top: 0.37%;
    }
}

@media (max-width: 1199px) {}


@media (max-width: 750px) {
    ul li {
        list-style: none;
        border-radius: 100px;
        padding: 10px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 20%;
    }

    ul li a {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    ul li a i {
        font-size: 20px;
    }

}